body {
    color: whitesmoke;
   /* background-image: url("../images/Background_Calm_River.jpg");*/
    background-size: 100%;
    background: black;
}
.row {
    position: absolute;
    margin-bottom: 100px;
    height: 400px;
    width: 500px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25%;

}

#box1, #box2 {
    border: 5px  dotted green;
    height: 400px;
    width: 250px;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
img {
    margin-top: 20px;
    width: 150px;
    height: 130px;;
}

#div2 {
    position: relative;
    -webkit-transform: rotateY(60deg); 
    -webkit-transform-style: preserve-3d;
    transform: rotateY(70deg);
    transform-style: preserve-3d;
    font-family: 'Calligraffitti', cursive;
    transform: rotate(-10deg);
    margin-top:0px;
 
}

#div1 {
    display: block;
    position: absolute;
    height: 300px;
    margin-left: 10%;
}
h2{
    font-size:60px;   
    transform: rotate(-10deg);
    margin-left:50px;
    margin-top: 0%; 
    font-family: cursive;
    text-shadow: 2px 3px 2px rgb(42, 187, 126);
    color: white;
    font-weight: bold;

}
h1{
    font-weight: 300px;
    font-size: 150px;
    text-shadow: 2px 13px 2px rgb(42, 187, 126);
    letter-spacing: 10px;
    color: white;
    font-weight: bold;

    
}